.sectionText {
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #ACACAC;
    border-radius: 0.75rem;
}

body, a {
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: #f0f0f0 !important;
}

.title-profil {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.profile-container {
    display: flex;
    flex-direction: column;
    color: #000;
    justify-content: center;
    border: 1px solid #ACACAC;
    border-radius: 0.75rem;
}

.profile-card {
    border-radius: 0.75rem;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 45px 38px;
}

.profile-header {
    display: flex;
    width: 709px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    font: 400 16px Poppins, sans-serif;
}

.profile-image {
    aspect-ratio: 1;
    object-position: center;
    width: 100px;
    border-radius: 50%;
    align-self: center;
}

.main-container {
    margin: auto;
    width: 90%;
}

h2 {
    margin-top: 5rem;
}

.profile-label {
    margin-top: 5px;
    margin-bottom: 8px;
}

.profile-details {
    align-self: start;
    display: flex;
    margin-top: 18px;
    flex-direction: column;
}

.profile-name {
    font: 500 20px Poppins, sans-serif;
}

.profile-email {
    margin-top: 20px;
    font: 400 16px Poppins, sans-serif;
}

.nickname-label {
    align-self: end;
    margin-top: 38px;
    font: 400 16px Poppins, sans-serif;
}

.input-row {
    display: flex;
    margin-top: 18px;
    gap: 20px;
    font: 400 16px Poppins, sans-serif;
}

.input-field {
    border-radius: 8px;
    background-color: #f9f9f9;
    align-items: start;
    justify-content: center;
    flex-grow: 1;
    font-size: 15px;
    border: 0;
    width: 100%;
    padding: 20px;
}

.input-container {
    width: 100%;
}

.label-row {
    display: flex;
    margin-top: 30px;
    width: 688px;
    max-width: 100%;
    gap: 20px;
    font: 400 16px Poppins, sans-serif;
    white-space: nowrap;
    justify-content: space-between;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (max-width: 991px) {
    .profile-card {
        max-width: 100%;
        padding: 20px;
    }

    .profile-header {
        flex-wrap: wrap;
    }

    .nickname-label {
        margin-top: 40px;
    }

    .input-row {
        max-width: 100%;
        flex-wrap: wrap;
    }

    .input-field {
        max-width: 100%;
    }

    .label-row {
        flex-wrap: wrap;
        white-space: initial;
    }
}



.shadow-z-1 {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
}

/* -- Material Design Table style -------------- */

:root {
    --table-header-font-weight: 400;
    --table-header-font-color: #757575;
    --table-cell-padding: 1.6rem;
    --table-condensed-cell-padding: calc(var(--table-cell-padding) / 2);
    --table-bg: #fff;
    --table-bg-accent: #f5f5f5;
    --table-bg-hover: rgba(0,0,0,.12);
    --table-bg-active: var(--table-bg-hover);
    --table-border-color: #e0e0e0;
}

.add {
    display: flex;
    flex-direction: row;
    background-color: #738da9;
    justify-content: center;
    align-items: center;
    padding: 1.1rem 1.25rem;
    gap: 0.5rem;
    width: 8rem;
    margin-left: 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 0.5rem;
}

#abcde{
    color: black;
    text-decoration: none;
}

.scope {
    width: 22rem !important;
    margin-right: 2rem;
}

.button-container {
    display: flex;
    justify-content: end;
    margin-bottom: 3rem;
}

#close {
    color: black;
    text-align: right;
    cursor: pointer;
    padding: 5px;
}

#close:hover {
    color: red;
}

#popup-container-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup {
    position: absolute;
    margin: 3rem 10rem;
    display: none;
    z-index: 9999999;
}


#popup-hide-bc {
    width: 100%;
    display: none;
    height: 100%;
    opacity: 0.8;
    background-color: #ccccccf4;
    z-index: 99999;
    position: absolute;
}

/* Mixins */
.transition {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/* Tables */

.table {
    width: 100%;
    max-width: 100%;
    background-color: var(--table-bg);
}

#error-date, #error-select {
    color: red;
    display: none;
}

.table > thead,
.table > tbody,
.table > tfoot {
    display: table-header-group;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    text-align: left;
    padding: 17px;
    vertical-align: top;
    align-content: center;
    border-top: 1px solid rgba(0,0,0,.12);
}

.delete {
    color: inherit;
    border: none;
    justify-content: start;
    display: flex;
    font: inherit;
    border-radius: 0.75rem;
    padding: 8px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    outline: inherit;
    font-size: 14px;
}

.table > thead > tr > th {
    font-weight: var(--table-header-font-weight);
    color: var(--table-header-font-color);
    vertical-align: bottom;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
}

/* Nesting */
.table .table {
    background-color: var(--table-bg);
}

/* Remove border */
.table .no-border {
    border: 0;
}

/* Condensed table w/ half padding */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: var(--table-condensed-cell-padding);
}

/* Bordered version */
.table-bordered {
    border: 0;
}

.custom-select {
    position: relative;
    width: 200px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.selected-items {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-items span {
    color: #555;
}

.items-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

.multiselect-dropdown {
    display: inline-block;
    padding: 2px 5px 0px 5px;
    border-radius: 4px;
    border: solid 1px #ced4da;
    background-color: white;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
}
.multiselect-dropdown span.optext,
.multiselect-dropdown span.placeholder {
    margin-right: 0.5em;
    margin-bottom: 2px;
    padding: 1px 0;
    border-radius: 4px;
    display: inline-block;
}
.multiselect-dropdown span.optext {
    background-color: lightgray;
    padding: 1px 0.75em;
}
.multiselect-dropdown span.optext .optdel {
    float: right;
    margin: 0 -6px 1px 5px;
    font-size: 0.7em;
    margin-top: 2px;
    cursor: pointer;
    color: #666;
}
.multiselect-dropdown span.optext .optdel:hover {
    color: #c66;
}
.multiselect-dropdown span.placeholder {
    color: #ced4da;
}
.multiselect-dropdown-list-wrapper {
    box-shadow: gray 0 3px 8px;
    z-index: 100;
    padding: 2px;
    border-radius: 4px;
    border: solid 1px #ced4da;
    display: none;
    margin: -1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: white;
}
.multiselect-dropdown-list-wrapper .multiselect-dropdown-search {
    margin-bottom: 5px;
}
.multiselect-dropdown-list {
    padding: 2px;
    height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.multiselect-dropdown-list::-webkit-scrollbar {
    width: 6px;
}
.multiselect-dropdown-list::-webkit-scrollbar-thumb {
    background-color: #bec4ca;
    border-radius: 3px;
}
.multiselect-dropdown-list div {
    padding: 5px;
}
.multiselect-dropdown-list input {
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.35em;
}
.multiselect-dropdown-list div.checked {}
.multiselect-dropdown-list div:hover {
    background-color: #ced4da;
}
.multiselect-dropdown span.maxselected {
    width: 100%;
}
.multiselect-dropdown-all-selector {
    border-bottom: solid 1px #999;
}


.items-list.open {
    display: block;
}

.items-list li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

.items-list li:hover {
    background-color: #f0f0f0;
}

.select-field {
    background-color: #fff;
    -webkit-appearance: none; /* For Chrome */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* For modern browsers */
    background-image: url("../assets/down-arrow-svgrepo-com.svg"); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 0.625rem center;
    background-size: 0.625rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 0.75rem;
    width: 100%;
    padding: 0.5rem 0.875rem;
    color: grey;
    font-size: 0.875rem;
    border: 0.081rem solid #C3CCD6;
    box-sizing: border-box;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

/* Zebra-striping */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: var(--table-bg-accent);
}

.date-container {
    display: flex;
    gap: 2rem;
    width: 50%;
    align-items: self-end;
}

.button-container-add {
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
}

/* Responsive tables (vertical) */
@media screen and (max-width: 768px) {
    .table-responsive-vertical > .table {
        margin-bottom: 0;
        background-color: transparent;
    }

    .table-responsive-vertical > .table > thead,
    .table-responsive-vertical > .table > tfoot {
        display: none;
    }

    .table-responsive-vertical > .table > tbody {
        display: block;
    }

    .table-responsive-vertical > .table > tbody > tr {
        display: block;
        border: 1px solid var(--table-border-color);
        border-radius: 2px;
        margin-bottom: var(--table-cell-padding);
    }

    .table-responsive-vertical > .table > tbody > tr > td {
        background-color: var(--table-bg);
        display: block;
        vertical-align: middle;
        text-align: right;
    }

    .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: inherit;
        font-weight: var(--table-header-font-weight);
        color: var(--table-header-font-color);
    }

    .table-responsive-vertical.shadow-z-1 {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
        border: none;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
    }

    .table-responsive-vertical > .table-bordered > tbody > tr > td {
        border: 0;
        border-bottom: 1px solid var(--table-border-color);
    }

    .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
        border-bottom: 0;
    }

    .table-responsive-vertical > .table-striped > tbody > tr > td,
    .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
        background-color: var(--table-bg);
    }

    .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
        background-color: var(--table-bg-accent);
    }
}

/* CSS Color variations */
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > th {
    background-color: #fde0dc;
}

@media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-red > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-red > tbody > tr:nth-child(odd) {
        background-color: var(--table-bg);
    }

    .table-responsive-vertical .table-striped.table-mc-red > tbody > tr > td:nth-child(odd) {
        background-color: #fde0dc;
    }
}

.table-striped.table-mc-pink > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-pink > tbody > tr:nth-child(odd) > th {
    background-color: #fce4ec;
}

@media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-pink > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-pink > tbody > tr:nth-child(odd) {
        background-color: var(--table-bg);
    }

    .table-responsive-vertical .table-striped.table-mc-pink > tbody > tr > td:nth-child(odd) {
        background-color: #fce4ec;
    }
}


@media screen and (max-width: 1020px) {
    #ical {
        display: none;
    }

    #synkronizator {
        display: none;
    }
}